<!DOCTYPE html>
<html lang="en">
<head>
  <script defer src="assets/js/main.js"></script>
  <% include headers/header %>
  <% include headers/styles %>
  <% include headers/scripts %>
  <title><%= config.appName %></title>
</head>
<body>
  <%- include('parts/main-menu') %>
  <% if(path == "/auth") {%> <%- include('parts/auth')%> <% }  %>
  <% if(path == "/registration" && typeof reg != "undefined") { %> <%- reg %> <% } %> 
  <% if(path == "/registration" && typeof reg == "undefined") {%> <%- include('parts/registration')%> <% }  %>
  <% if(path == "/login") {%> <%- include('parts/login')%> <% }  %>
  <% if(path == "/dictionary") {%> <%- include('parts/dictionary')%> <% }  %>
  <% if(typeof error != "undefined" && error == "404") {%> <%- include('parts/404')%> <% }  %>
  
</body>
</html>
