<div class='' role='alert'>
    <strong><%= strings.filter_setting %></strong>: 
    <%= strings.learning_filter_rating %>
    <u><%= strings[rating] %></u>; 
    <%= strings.learning_checked %> 
    <u><%= strings[check] %></u>; 
    <%= strings.learning_filter_types %> 
    <u><%= strings[type] %></u>
</div>