<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div class="nav-item dropdown">
              <% if (userid == null) {%>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false"><%= config.greet %>, <%= login %>!  </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="nav-item dropdown-item" href="<%= config.root %>/auth" id="authorization"><%= config.auth_btn_text %></a>
              </div>
              <% } else {%>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false"><%= config.greet %>, <%= login %>!  </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="nav-item dropdown-item" href="<%= config.root %>/logout" id="authorization"><%= config.exit_btn_text %></a>
                  <div class="dropdown-divider"></div>
              </div>
              <% } %>
          </div>
          <a class="nav-item nav-link

<% if (path == "/") {%> active<% } %>

          " href="<%= config.root %>/" id="begin"><%= config.home_btn_text %></a>
          <a class="nav-item nav-link

<% if (path == "/learn") {%> active<% } %>

          " href="<%= config.root %>/learn" id="begin"><%= config.start_btn_text %></a>
          <a class="nav-item nav-link

<% if (path == "/dictionary") {%> active<% } %>

          " href="<%= config.root %>/dictionary" id="dictionary"><%= config.dictionary_btn_text %></a>


        </div>
      </div>
</nav>
